:root {
    --bg-gradient: linear-gradient(180deg,
            hsl(191deg 100% 50%) 0%,
            hsl(193deg 100% 50%) 0%,
            hsl(194deg 100% 49%) 0%,
            hsl(196deg 100% 49%) 0%,
            hsl(198deg 100% 48%) 0%,
            hsl(200deg 100% 47%) 1%,
            hsl(202deg 100% 47%) 3%,
            hsl(203deg 100% 46%) 5%,
            hsl(205deg 100% 45%) 11%,
            hsl(207deg 100% 43%) 28%,
            hsl(210deg 92% 44%) 63%,
            hsl(219deg 67% 48%) 84%,
            hsl(227deg 54% 50%) 100%);
}

html {
    height: 100%;
}

body {
    font-family: "Inter", serif;
    height: 100%;
    min-height: 100vh;
    background-image: var(--bg-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.body-login {
    background-color: #fefefe;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 20px;
}

h1 {
    color: #00D1FF;
    font-family: "Luckiest Guy", cursive;
}

label {
    color: #00D1FF;
}

.form-container {
    width: 100%;
    max-width: 350px;
    padding: 1rem;
    box-sizing: border-box;
}

.next-page {
    color: #00D1FF;
}

.btn {
    background-color: #00D1FF;
    width: 100%;
}

.Our {
    color: #00D1FF;
}

.facebook {
    color: #3b5998;
    margin: 10px;
}

.google {
    color: #ea4335;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .body-login {
        width: 60%;
        max-width: 600px;
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    .body-login {
        max-width: 800px;
    }
}

@media (min-width: 1400px) {
    .body-login {
      max-width: 900px;
    }
}
@media (max-width:768px) {
    .body-login {
        height: 610px;
    }
}
